@import '../../../../../styles/variables';

.home-search-result {
  &-item {
    background: white;
    margin-bottom: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 5px;
    border: 1px $grey_blue solid;
  }
}
