@import 'reset-css';
@import './variables';
@import './typography';

body {
  background: $light_blue;
  font-family: 'Soleil', sans-serif;
  color: $navy;
  font-size: 14px;
}

html, body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.page {
  padding: 40px 70px;
  &-container {
    margin: 0 auto;
    max-width: 1060px;
  }
}

.button {
  background: $blue;
  color: white;
  width: 117px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
}
