$light_blue: #F4F9FC;
$dark_grey: #00000029;
$blue: #0087EF;
$muted_blue: #4C6C83;
$muted_navy: #002D4F;
$light_grey_blue: #EAEEF4;
$grey_blue: #E5E9ED;
$navy: #00124F;
$light_grey: #0000001A;

$breakpoint-sm: 600px;
$breakpoint-m: 900px;
